In [1]:
import numpy as np
import pandas as pd
import psycopg2

In [2]:
import json

with open('/Desktop/config.json') as f:
    conf = json.load(f)
    host = conf['host']
    database = conf['database']
    user = conf['user']
    passw = conf['passw']

In [3]:
conn_str = "host={} dbname={} user={} password={}".format(host, database, user, passw)
conn = psycopg2.connect(conn_str)

In [5]:
LEO_query = "SELECT vic.victim_id, vic.incident_id, vic.victim_type_id, ty.victim_type_name,\
            vic.assignment_type_id, ass.assignment_type_name, vic.activity_type_id,\
            act.activity_type_name, vic.age_range_low_num, vic.age_range_high_num, vic.age_id,\
            age.age_name, vic.sex_code, vic.agency_data_year FROM nibrs_victim as vic\
            JOIN nibrs_victim_type as ty ON vic.victim_type_id = ty.victim_type_id JOIN nibrs_age as age\
            ON vic.age_id = age.age_id JOIN nibrs_assignment_type as ass ON\
            ass.assignment_type_id = vic.assignment_type_id JOIN nibrs_activity_type as act\
            ON act.activity_type_id = vic.activity_type_id;"

LEO_df = pd.read_sql(LEO_query, con=conn)

In [6]:
LEO_df.head()

,victim_id,incident_id,victim_type_id,victim_type_name,assignment_type_id,assignment_type_name,activity_type_id,activity_type_name,age_range_low_num,age_range_high_num,age_id,age_name,sex_code,agency_data_year
0,79849725,73437778,5,Law Enforcement Officer,3,One-Officer (Assisted),1,Responding to Disturbance Call,NaN,NaN,5,Age in Years,M,None
1,79846671,73435092,5,Law Enforcement Officer,3,One-Officer (Assisted),1,Responding to Disturbance Call,NaN,NaN,5,Age in Years,M,None
2,79846537,73434209,5,Law Enforcement Officer,3,One-Officer (Assisted),1,Responding to Disturbance Call,NaN,NaN,5,Age in Years,M,None
3,79927873,73516536,5,Law Enforcement Officer,2,One-Officer (Alone),1,Responding to Disturbance Call,NaN,NaN,5,Age in Years,M,None
4,79909815,73498313,5,Law Enforcement Officer,2,One-Officer (Alone),1,Responding to Disturbance Call,NaN,NaN,4,Unknown,M,None

In [8]:
LEO_df.corr()

,victim_id,incident_id,victim_type_id,assignment_type_id,activity_type_id,age_range_low_num,age_range_high_num,age_id
victim_id,1.000000,0.999976,NaN,-0.022414,-0.110137,-0.127053,0.078349,0.053487
incident_id,0.999976,1.000000,NaN,-0.022188,-0.109461,-0.127010,0.078386,0.053456
victim_type_id,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
assignment_type_id,-0.022414,-0.022188,NaN,1.000000,0.099734,0.208548,-0.025098,-0.118252
activity_type_id,-0.110137,-0.109461,NaN,0.099734,1.000000,0.098511,0.005380,-0.003533
age_range_low_num,-0.127053,-0.127010,NaN,0.208548,0.098511,1.000000,-0.153467,NaN
age_range_high_num,0.078349,0.078386,NaN,-0.025098,0.005380,-0.153467,1.000000,NaN
age_id,0.053487,0.053456,NaN,-0.118252,-0.003533,NaN,NaN,1.000000

In [9]:
with open('SQL_Queries/Victim_init.sql', 'r') as myfile:
    data = myfile.read()

In [10]:
print(data)

SELECT      vic.victim_id,
            vic.incident_id,
            vic.victim_type_id,
            ty.victim_type_name,
            vic.assignment_type_id,
            ass.assignment_type_name,
            vic.activity_type_id,
            act.activity_type_name,
            vic.age_range_low_num,
            vic.age_range_high_num,
            vic.age_id,
            age.age_name,
            vic.sex_code,
            vic.agency_data_year

FROM        nibrs_victim as vic
JOIN   nibrs_victim_type as ty
ON          vic.victim_type_id = ty.victim_type_id
JOIN   nibrs_age as age
ON          vic.age_id = age.age_id
JOIN   nibrs_assignment_type as ass
ON          ass.assignment_type_id = vic.assignment_type_id
JOIN   nibrs_activity_type as act
ON          act.activity_type_id = vic.activity_type_id;

In [11]:
Vic_df = pd.read_csv('Victim.csv')
Vic_df.head()

EmptyDataError: No columns to parse from file